<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>

    <h1>{{title}}</h1>

	<form action="/" method="POST">
		<input type="text" name="val" placeholder="текущая температура пациента">
		<input type="submit">
	</form>

	<ul class="list">
		{% for item in temperatures|reverse %}
			<li>
				<p class="p1"><span>Время:</span> {{item.time|escape}}</p>
				<p class="p1"><span>Температура:</span> {{item.temperature|escape}}</p>
			</li>
		{% endfor %}
	</ul>

</body>
</html>
